*{
  box-sizing: border-box;
}
body{
  background-color: hsl(0, 0%, 10%);
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
#form1 input[type='text']{
  width: 355px;
  margin-right: 3.5px;
}
h1{
  font-size: 4rem;
  color: aliceblue;
  border-bottom: 1px solid;
 
}
#emptyTask{
  color:sienna;
  font-size: 2.5rem;
  border: 1px solid;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  background-color: aliceblue;

  
}

form:nth-of-type(2){
  text-align: center;
  margin-top: 20px;
  min-width: 400px;
}
form input[type='text']{
  width: 450px;   
  margin-left: 5px;
}
input[type='checkbox']{
  text-align: center;
  width: 1.5rem;
  /* width: 50px; */
  /* min-width: 50px; */
  height: 1.5rem;
  cursor: pointer;
}
/* input[type='checkbox']:focus + span{
  text-decoration: underline;
} */
button{
  font-size: 1.7rem;
  font-weight: bold;
  color: aliceblue;
  border-radius: 5px;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
  margin-right: 5px;
  padding: 10.6px 20px;

  /* padding-bottom: 12px; */
  
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move-button{
  background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
  background-color: hsl(207, 90%, 54%);
}
input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
  margin-right: 5px;
}
ol{
  list-style: none;
  padding: 0;
  margin: 40px 10px 0 10px;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items:center;
  text-align:center;
  justify-content: center;
  overflow-wrap: break-word;
  white-space: normal;
  /* justify-content:flex-start; */
}
.text{
  flex: 1;
  overflow-wrap: break-word;
  white-space: normal;
  /* text-overflow: ellipsis; */
  overflow:auto;
}
.delete-button, .move-button{
  font-size: 1.4rem;
  margin-left: 8px;
  flex-shrink: 0;
}
.move-button{
  padding: 7px 12px;
}
.delete-button{
  padding: 9px 12px;

}

/* @media only screen and (max-width: 580px){
  li{
    font-size: 1.3rem;
    padding: 5px;
    margin: 0 8px 5px 8px;
}
} */



@media only screen and (min-width: 415px) and (max-width: 459px) {
  #form1 input[type='text']{
    max-width:250px;
  }
  #form2 input[type='text']{
    max-width: 325px;
    /* margin-top: 10px; */
  }
  }

  /* Styles for devices  767px (landscape phones and small tablets) */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
  button {
    font-size: 1.35rem;
    padding: 9px 15px;
  }
  li {
    font-size: 1.3rem;
    padding: 5px;
    margin: 0 8px 5px 8px;
  }
  .text {
    font-size: 1.25rem;
  }
  .add-button{
    
    font-size: 1.5rem;
    padding: 13px 14px;
    /* padding: 10px 12px; */
  }
  .delete-button{
    font-size: 1.75rem;
    padding: 5.5px 12px;
  }

  #form1 input[type='text']{
    width: 335px;
    /* margin-right: 3.5px; */
  } 
  #form2 input[type='text']{
    width: 410px;
  }

  #emptyTask{
    font-size: 2rem;
  }
}

@media only screen and (max-width:415px) {
  h1{
    font-size: 2.5rem;
    margin-left: 8px;
  }
  #form1 input[type='text']{
    max-width: 225px;
    margin-right: 3.5px;
  }
  #form2 input[type='text']{
    max-width: 300px;
    margin-top: -15px;
    margin-left: -1px;
  }
  
  ol{
    /* width: 400px; */
    width: 100%;
    margin-left:3px;

  }
  #emptyTask{
    font-size: 1.8rem;
  }
 
  input[type='checkbox']{
    width: 1rem;
    height: 1rem;
    /* margin: 0; */
  }
  .add-button{
    font-size: 1.5rem;
   padding: 11.5px 13px 8px;
   /* margin-left: 3px; */
  }
  
  input[type='text']{
    font-size: 1.8rem;
    padding: 5px;
    margin-bottom: 8px;
   
  }
  
  li{
      font-size: 1.1rem;
      padding: 7px;
      margin: 0 8px 5px 8px;
      /* flex-wrap: wrap; */
  }
  /* .delete-button, .move-button{
    margin-left: 5.5px;
    
  } */
  
  .text{
    font-size: 1.25rem;
    word-wrap: break-word;
    white-space: normal;
  }
  /* h1{
    margin-left: 10px;
  } */
}
@media only screen and (max-width:385px){
  h1{
    /* margin-left: 25px; */
    width: 100%;
    text-align: center;
    margin-left: 10px;
  }
  #form1 input[type='text']{
    max-width: 220px;
    margin-left: 45px;
    
  }
  #form2 input[type='text']{
    max-width: 290px;
    margin-left: 25px;
    margin-top: -12px;
  }
  .add-button{
    padding: 10.5px 8px 8px;
    
  }
  li{
    width: 100%;
    /* margin-left: 5px; */
  }
  ol{
    margin-left: 25px;
  }
}
@media only screen and (max-width:371px){
  #form1 input[type='text']{
    max-width: 220px;
    margin-left: 60px;
    
  }
  #form2 input[type='text']{
    max-width: 290px;
    margin-left: 23px;
  } 
}
/* Styles for devices between 768px and 1024px (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 3rem;
  }
  button {
    font-size: 1.5rem;
    padding: 8px 16px;
  }
  li {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1.2rem;
  }
  .add-button{
    
    padding: 12.5px 15px;
  }
  #form1 input[type='text']{
    width: 330px;
    margin-right: 3.5px;
  } 
  #form2 input[type='text']{
    width: 410px;
    /* text-align: center; */
    /* margin-top: 20px; */
  }
 
}







